:root {
    --primary-clr: #ff136f;
}

.my-bg-info {
    background: #fceae8;
}
#search-bar {
    position: relative;
}
#search-btn {
    position: absolute;
    top: 13px;
    right: 76px;
    transition: all .3s;
}
#search-btn:hover {
    color: var(--primary-clr);
}
.my-price-color {
    color: var(--primary-clr);
}
.my-buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}